<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='netease.bigdata.hivetools.mappers.DbsMapper'>

    <select id='getDbs' resultType='netease.bigdata.hivetools.meta.Dbs'>
        <![CDATA[
            SELECT * FROM DBS
        ]]>
    </select>
    <resultMap type='netease.bigdata.hivetools.meta.Dbs' id='getDbsResult'>
    </resultMap>

</mapper>